@model PagedList.IPagedList<Models.EF.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@section Header {
    <!-- daterange picker -->
    <link rel="stylesheet" href="/Assets/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="/Assets/Admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/Assets/Admin/plugins/iCheck/all.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="/Assets/Admin/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/Assets/Admin/bower_components/select2/dist/css/select2.min.css">
}
@using (Html.BeginForm("ProductAddPopupJCarousel", "ProductMappingsAdmin", FormMethod.Post))
{
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchProductName">ProductName</label>
                                            <div title="" data-toggle="tooltip" class="ico-help">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" id="SearchProductName" name="SearchProductName" value="@ViewBag.SearchProductName" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchCategory">Category</label>
                                            <div title="" data-toggle="tooltip" class="ico-help">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8"><input class="form-control text-box single-line" id="SearchCategory" name="SearchCategory" value="@ViewBag.SearchCategory" type="text" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchManufacturer">Manufacturer</label>
                                            <div title="" data-toggle="tooltip" class="ico-help">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8"><input class="form-control text-box single-line" id="SearchManufacturer" name="SearchManufacturer" value="@ViewBag.SearchManufacturer" type="text" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchVendor">Vendor</label>
                                            <div title="" data-toggle="tooltip" class="ico-help">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8"><input class="form-control text-box single-line" id="SearchVendor" name="SearchVendor" type="text" value="@ViewBag.SearchVendor" /></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchProductTypeId">Product type	</label>
                                            <div title="" data-toggle="tooltip" class="ico-help">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control valid" data-val="true" data-val-required="The Product type field is required." value="@ViewBag.SearchProductTypeId" id="SearchProductTypeId" name="SearchProductTypeId" aria-describedby="SearchProductTypeId-error" aria-invalid="false">
                                            <option selected="selected" value="0">All</option>
                                            <option value="5">Simple</option>
                                            <option value="10">Grouped (product with variants)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchPublishedId">Published</label>
                                            <div title="" data-toggle="tooltip" class="ico-help">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control valid" data-val="true" data-val-required="The Published field is required." value="@ViewBag.SearchPublishedId" id="SearchPublishedId" name="SearchPublishedId" aria-describedby="SearchPublishedId-error" aria-invalid="false">
                                            <option selected="selected" value="0">All</option>
                                            <option value="1">Published only</option>
                                            <option value="2">Unpublished only</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchSKU">SKU</label>
                                            <div title="" data-toggle="tooltip" class="ico-help">
                                                <i class="fa fa-question-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8"><input class="form-control text-box single-line" id="SearchSKU" name="SearchSKU" value="@ViewBag.SearchSKU" type="text" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-products" class="btn btn-primary btn-search"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table id="products-grid" name="products-grid" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th role="columnheader" data-field="Id" style="text-align:center" class="k-header">
                                        <input id="mastercheckbox" type="checkbox" name="select_all">
                                    </th>
                                    <th>Proudct Name</th>
                                    <th>SKU</th>
                                    <th>Price</th>
                                    <th>Stock Quantity</th>
                                    <th>Product Type</th>
                                    <th style="text-align:center">Published</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td style="vertical-align: inherit ;text-align:center">
                                            <input type="checkbox" value="@item.Id" class="checkboxGroups">
                                        </td>
                                        <td style="vertical-align: inherit">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td style="vertical-align: inherit">
                                            @Html.DisplayFor(modelItem => item.Sku)
                                        </td>
                                        <td style="vertical-align: inherit">
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td style="vertical-align: inherit">
                                            @Html.DisplayFor(modelItem => item.StockQuantity)
                                        </td>
                                        <td style="vertical-align: inherit">
                                            @Html.DisplayFor(modelItem => item.ProductTypeId)
                                        </td>
                                        <td class=" text-center" style="vertical-align: inherit">
                                            @if (item.Published)
                                            {
                                                <i class="fa fa-check true-icon" style="color:#007fcc ;font-size:20px;"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-close false-icon" style="color:#d22d2d ;font-size:20px;"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("ProductAddJCarouselPopup", new { page ,@JCarouselId = @ViewBag.JCarouselId }))
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1">
                                <button id="addProduct" type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Footer {
    <script src="/Assets/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/Admin/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/Assets/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="/Assets/Admin/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/Assets/Admin/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/Assets/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="/Assets/Admin/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="/Assets/Admin/bower_components/moment/min/moment.min.js"></script>
    <script src="/Assets/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="/Assets/Admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="/Assets/Admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="/Assets/Admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- SlimScroll -->
    <script src="/Assets/Admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="/Assets/Admin/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="/Assets/Admin/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/Admin/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Assets/Admin/dist/js/demo.js"></script>
    <!-- Page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        })
    </script>
    <script>
        function getParameter(theParameter) {
            var params = window.location.search.substr(1).split('&');

            for (var i = 0; i < params.length; i++) {
                var p = params[i].split('=');
                if (p[0] == theParameter) {
                    return decodeURIComponent(p[1]);
                }
            }
            return false;
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });
            var selectedIds = [];
            //wire up checkboxes.
            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
            $('#addProduct').click(function () {
                var jCarouselId = getParameter("JCarouselId");

                var postData = {
                    jCarouselId: jCarouselId,
                    selectedIds: selectedIds
                };
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Admin/ProductMappingsAdmin/ProductAddJCarouselPopup",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        if (!data.Result) {
                            return;
                        } else {
                            window.opener.location.reload(true);
                            window.close();
                        }
                    },
                });
            });
        });
        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".main-header").hide();
            $(".main-sidebar").hide();
            var JCarouselId = getParameter("JCarouselId");
            @ViewBag.JCarouselId = JCarouselId;
        });
    </script>
}