@model List<Models.EF.Category>
<div class="category-grid home-page-category-grid">
    <div class="item-grid">
        @foreach (var item in Model.Where(x=>x.ParentCategoryId == 0))
        {
            var picture = new Models.Dao.PictureDao().GetPictureById(item.PictureId);
            <div class="item-box">
                <div class="category-item">
                    <div class="picture">
                        @if (picture != null)
                        {
                            var url = new Models.Dao.PictureDao().GetPictureUrl(picture.Id, 400, true, null, Models.Dao.PictureType.Entity);
                            <a href="/category/@item.Name.ToLower().Replace(" ","-")" title="@item.MetaTitle">
                                <img alt="@picture.AltAttribute" src="@url" title="@picture.TitleAttribute" />
                            </a>
                        }
                        else
                        {
                            var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(400, Models.Dao.PictureType.Entity, null);
                            <a href="/category/@item.Name.ToLower().Replace(" ","-")" title="@item.MetaTitle">
                                <img class="picture-img" src="@url">
                            </a>
                        }
                    </div>
                    <h2 class="title">
                        <a href="/category/@item.Name.ToLower().Replace(" ","-")" title="@item.MetaTitle">
                            @item.Name
                        </a>
                    </h2>
                </div>
            </div>
        }
    </div>
</div>