@model List<Models.EF.SaleOfTheDayOffer>
<div class="sale-of-the-day-offer ">
    <div class="title"> <strong>New Offers</strong> </div>
    <div class="sotd-wrapper">
        <div class="grid owl-carousel">
            @foreach (var item in Model)
            {
                foreach (var itemChild in item.SaleOfTheDayOffer_Product_Mapping)
                {
                    var product = new Models.Dao.ProductDao().GetProductById(itemChild.ProductId);
                    var pictures = new Models.Dao.PictureDao().GetPicturesByProductId(product.Id, 1);

                    <div class="product-element sale-of-the-day-product-1-@product.Id" data-productid="@product.Id">
                        <div class="sale-item ">
                            <!--product pictures-->
                            <div class="name-and-timer">
                                <!--countdown timer-->
                                <div class="product-name">
                                    <h2 class="item-name">
                                        <a href="/product/@product.Name.ToLower().Replace(" ","-")">@product.Name</a>
                                    </h2>
                                </div>
                            </div>
                            <div class="item-gallery">
                                <div class="item-picture">
                                    @if (pictures.Count > 0)
                                    {
                                        var url = new Models.Dao.PictureDao().GetPictureUrl(pictures.SingleOrDefault().Id, 400, true, null, Models.Dao.PictureType.Entity);
                                        <a href="/product/@product.Name.ToLower().Replace(" ","-")" title="@product.Name">
                                            <img alt="@pictures.SingleOrDefault().AltAttribute" src="@url" title="@pictures.SingleOrDefault().TitleAttribute" />
                                        </a>
                                    }
                                    else
                                    {
                                        var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(400, Models.Dao.PictureType.Entity, null);
                                        <a href="/product/@product.Name.ToLower().Replace(" ","-")" title="@product.MetaTitle">
                                            <img class="picture-img" src="@url">
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="overview">
                                <div class="short-description">@product.ShortDescription</div>
                                <!--price-->
                                <div class="prices"> <span class="price actual-price">@product.Price</span> </div> <a href="/product/@product.Name.ToLower().Replace(" ","-")" class="button-1 go-to-product-page">Go To Product Page</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <input type="hidden" id="saleOfTheDayInfo" data-localization-day="day" data-localization-days="days" data-localization-hour="hour" data-localization-hours="hours" data-localization-minute="minute" data-localization-minutes="minutes" data-localization-second="second" data-localization-seconds="seconds">
</div>