@model List<Models.EF.JCarousel>
<div class="two-row-carousels small-products">
    @foreach (var item in Model)
    {
        <div class="product-grid home-page-product-grid">
            <div class="title"> <strong>@item.Name</strong> </div>
            <div class="item-grid">
                @foreach (var itemChild in item.JCarousel_Product_Mapping)
                {
                    var product = new Models.Dao.ProductDao().GetProductById(itemChild.ProductId);
                    var pictures = new Models.Dao.PictureDao().GetPicturesByProductId(product.Id, 1);
                    <div class="item-box">
                        <div class="product-item" data-productid="@product.Id">
                            <div class="picture">
                                @if (pictures.Count() > 0)
                                {
                                    var url = new Models.Dao.PictureDao().GetPictureUrl(pictures.SingleOrDefault().Id, 400, true, null, Models.Dao.PictureType.Entity);
                                    <a href="/product/@product.Name.ToLower().Replace(" ","-")" title="@product.MetaTitle"> <img class="picture-img" src="@url" alt="@pictures.SingleOrDefault().AltAttribute" title="@pictures.SingleOrDefault().TitleAttribute" /> </a>
                                }
                                else
                                {
                                    var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(400, Models.Dao.PictureType.Entity, null);
                                    <a href="/product/@product.Name.ToLower().Replace(" ","-")" title="@product.MetaTitle">
                                        <img class="picture-img" src="@url">
                                    </a>
                                }
                                <div class="btn-wrapper">
                                    <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/1');return false;">Add to compare list</button>
                                    <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/1/2/1');return false;">Add to wishlist</button>
                                </div>
                            </div>
                            <div class="details">
                                <h2 class="product-title">
                                    <a href="/product/@product.Name.ToLower().Replace(" ","-")">@product.Name</a>
                                </h2>
                                <div class="product-rating-box" title="1 review(s)">
                                    <div class="rating">
                                        <div style="width: 100%"> </div>
                                    </div>
                                </div>
                                <div class="description">@product.MetaDescription</div>
                                <div class="add-info">
                                    <div class="prices"> <span class="price actual-price">@product.Price</span> </div>
                                    <div class="buttons">
                                        <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/1/1/1');return false;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>