@model List<OnlineShop.Models.ShoppingCartItemModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal Total = 0;
}
<div class="master-wrapper-content">
    <div class="ajaxCartInfo" data-getajaxcartbuttonurl="/NopAjaxCart/GetAjaxCartButtonsAjax" data-productpageaddtocartbuttonselector=".add-to-cart-button" data-productboxaddtocartbuttonselector=".product-box-add-to-cart-button" data-productboxproductitemelementselector=".product-item" data-enableonproductpage="True" data-enableoncatalogpages="True" data-minishoppingcartquatityformattingresource="({0})" data-miniwishlistquatityformattingresource="({0})" data-addtowishlistbuttonselector=".add-to-wishlist-button">
    </div>
    <input id="addProductVariantToCartUrl" name="addProductVariantToCartUrl" type="hidden" value="/AddProductFromProductDetailsPageToCartAjax">
    <input id="addProductToCartUrl" name="addProductToCartUrl" type="hidden" value="/AddProductToCartAjax">
    <input id="miniShoppingCartUrl" name="miniShoppingCartUrl" type="hidden" value="/MiniShoppingCart">
    <input id="flyoutShoppingCartUrl" name="flyoutShoppingCartUrl" type="hidden" value="/NopAjaxCartFlyoutShoppingCart">
    <input id="checkProductAttributesUrl" name="checkProductAttributesUrl" type="hidden" value="/CheckIfProductOrItsAssociatedProductsHasAttributes">
    <input id="getMiniProductDetailsViewUrl" name="getMiniProductDetailsViewUrl" type="hidden" value="/GetMiniProductDetailsView">
    <input id="flyoutShoppingCartPanelSelector" name="flyoutShoppingCartPanelSelector" type="hidden" value="#flyout-cart">
    <input id="shoppingCartMenuLinkSelector" name="shoppingCartMenuLinkSelector" type="hidden" value=".cart-qty">
    <input id="wishlistMenuLinkSelector" name="wishlistMenuLinkSelector" type="hidden" value="span.wishlist-qty">
    <div id="product-ribbon-info" data-productid="0" data-productboxselector=".product-item, .item-holder" data-productboxpicturecontainerselector=".picture, .item-picture" data-productpagepicturesparentcontainerselector=".product-essential" data-productpagebugpicturecontainerselector=".picture" data-retrieveproductribbonsurl="/RetrieveProductRibbons">
    </div>
    <div class="quickViewData" data-productselector=".product-item" data-productselectorchild=".btn-wrapper" data-retrievequickviewurl="/quickviewdata" data-quickviewbuttontext="Quick View" data-quickviewbuttontitle="Quick View" data-isquickviewpopupdraggable="True" data-enablequickviewpopupoverlay="True" data-accordionpanelsheightstyle="content">
    </div>
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="order-progress">
                <ul>
                    <li class="active-step last">
                        <a href="/cart"><span>Cart</span></a>
                    </li>
                    <li class="inactive-step">
                        <a><span>Address</span></a>
                    </li>
                    <li class="inactive-step">
                        <a><span>Shipping</span></a>
                    </li>
                    <li class="inactive-step">
                        <a><span>Payment</span></a>
                    </li>
                    <li class="inactive-step">
                        <a><span>Confirm</span></a>
                    </li>
                    <li class="inactive-step">
                        <a><span>Complete</span></a>
                    </li>
                </ul>
            </div>
            @if (Model.Count > 0)
            {
                <div class="page shopping-cart-page">
                    <div class="page-title">
                        <h1>Shopping cart</h1>
                    </div>
                    <div class="page-body">
                        <div class="order-summary-content">
                            @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
                            {

                                <div class="table-wrapper">
                                    <table class="cart">
                                        <colgroup>
                                            <col width="1">
                                            <col width="1">
                                            <col>
                                            <col width="1">
                                            <col width="1">
                                            <col width="1">
                                        </colgroup>
                                        <thead>
                                            <tr class="cart-header-row">
                                                <th class="remove-from-cart" data-hide="w410, w480">
                                                    Remove
                                                </th>
                                                <th class="product-picture">
                                                    Image
                                                </th>
                                                <th class="product" data-hide="w410, w480, w580, w768">
                                                    Product(s)
                                                </th>
                                                <th class="unit-price" data-hide="w410, w480">
                                                    Price
                                                </th>
                                                <th class="quantity">
                                                    Qty.
                                                </th>
                                                <th class="subtotal">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                var productPictures = new Models.Dao.PictureDao().GetPicturesByProductId(item.Product.Id, 1);
                                                Total += item.Product.Price * item.Quantity;
                                                var price = item.Product.Price * item.Quantity;
                                                <tr class="cart-item-row">
                                                    <td class="remove-from-cart">
                                                        <a class="remove-item-button" data-id="@item.Product.Id" title="Remove">Remove</a>
                                                        @*<input type="checkbox" name="removefromcart" id="removechackbox-@item.Product.Id" value="@item.Product.Id">
                                                            <label for="removechackbox-@item.Product.Id" class="td-title">Remove</label>*@
                                                    </td>
                                                    <td class="product-picture">
                                                        @if (productPictures.Count() > 0)
                                                        {
                                                            var url = new Models.Dao.PictureDao().GetPictureUrl(productPictures.SingleOrDefault().Id, 200, true, null, Models.Dao.PictureType.Entity);
                                                            <a href="/product/@item.Product.Name.Replace(" ", "-").ToLower()">
                                                                <img alt="@productPictures.SingleOrDefault().AltAttribute" src="@url" title="@productPictures.SingleOrDefault().TitleAttribute">
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(200, Models.Dao.PictureType.Entity, null);
                                                            <a href="/product/@item.Product.Name.Replace(" ", "-").ToLower()">
                                                                <img alt="" src="@url" title="">
                                                            </a>
                                                        }
                                                    </td>
                                                    <td class="product">
                                                        <a href="/product/@item.Product.Name.Replace(" ", "-").ToLower()" class="product-name">@item.Product.Name</a>
                                                    </td>
                                                    <td class="unit-price">
                                                        <label class="td-title">Price:</label>
                                                        <span class="product-unit-price">@item.Product.Price</span>
                                                    </td>
                                                    <td class="quantity">
                                                        <label class="td-title">Qty.:</label>
                                                        <input name="itemquantity" type="text" value="@item.Quantity" data-id="@item.Product.Id" class="qty-input">
                                                    </td>
                                                    <td class="subtotal">
                                                        <label class="td-title">Total:</label>
                                                        <span class="product-subtotal">@price</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="common-buttons">
                                        <button type="button" name="updatecart" value="Update shopping cart" class="button-2 update-cart-button"><span>Update shopping cart</span></button>
                                        <button type="button" value="Clear shopping cart" class="button-2 clear-cart-button"><span>Clear shopping cart</span></button>
                                        <button type="button" name="continueshopping" value="Continue shopping" class="button-2 continue-shopping-button">Continue shopping</button>
                                    </div>
                                </div>
                                <div class="cart-footer">
                                    <div class="cart-collaterals">
                                        <div class="deals">
                                            <div class="title">Discount codes and Vouchers</div>
                                            <div class="list">
                                                <div class="coupon-box">
                                                    <div class="title">
                                                        <strong>Discount Code</strong>
                                                    </div>
                                                    <div class="hint">
                                                        Enter your coupon here
                                                    </div>
                                                    <div class="coupon-code">
                                                        <input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code">
                                                        <input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode" value="Apply coupon" class="button-2 apply-discount-coupon-code-button">
                                                    </div>
                                                </div>
                                                <div class="giftcard-box">
                                                    <div class="title">
                                                        <strong>Gift Cards</strong>
                                                    </div>
                                                    <div class="hint">Enter gift card code</div>
                                                    <div class="coupon-code">
                                                        <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code">
                                                        <input type="submit" name="applygiftcardcouponcode" id="applygiftcardcouponcode" value="Add gift card" class="button-2 apply-gift-card-coupon-code-button">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="totals">
                                        <div class="total-info">
                                            <table class="cart-total">
                                                <tbody>
                                                    <tr class="order-subtotal">
                                                        <td class="cart-total-left">
                                                            <label>Sub-Total:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">@Total</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="shipping-cost">
                                                        <td class="cart-total-left">
                                                            <label>Shipping:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">$0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="tax-value">
                                                        <td class="cart-total-left">
                                                            <label>Tax:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">$0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <td class="cart-total-left">
                                                            <label>Total:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary"><strong>@Total</strong></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="terms-of-service-warning-box" title="Terms of service" style="display: none;">
                                            <p>Please accept the terms of service before the next step.</p>
                                        </div>
                                        <div class="terms-of-service">
                                            <input id="termsofservice" type="checkbox" name="termsofservice">
                                            <label for="termsofservice">I agree with the terms of service and I adhere to them unconditionally</label>
                                            <a class="read" id="read-terms">(read)</a>
                                        </div>
                                        <div class="checkout-buttons">
                                            <button type="submit" value="checkout" id="checkout" class="button-1 checkout-button">
                                                Checkout
                                            </button>
                                        </div>
                                        <div class="addon-buttons">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="page shopping-cart-page">
                    <div class="page-title">
                        <h1>My Cart</h1>
                    </div>
                    <div class="page-body">
                        <div class="order-summary-content">
                            <div class="no-data">
                                Your Shopping Cart is empty!
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable" aria-describedby="terms-of-service-warning-box" aria-labelledby="ui-id-1" style="position: absolute; height: auto; width: 300px; top: 672.51px; left: 951.5px; display: none;">
    <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">Terms of service</span><button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button></div>
    <div id="terms-of-service-warning-box" style="width: auto; min-height: 1px; max-height: none; height: auto;" class="ui-dialog-content ui-widget-content">
        <p>Please accept the terms of service before the next step.</p>
    </div>
    <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#read-terms').on('click',
            function (e) {
                e.preventDefault();
                displayPopupContentFromUrl(
                    '/t-popup/conditionsofuse',
                    'Terms of service');
            });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#checkout').on('click', function () {
            //terms of service
            var termOfServiceOk = true;
            if ($('#termsofservice').length > 0) {
                //terms of service element exists
                if (!$('#termsofservice').is(':checked')) {
                    $("#terms-of-service-warning-box").dialog();
                    termOfServiceOk = false;
                } else {
                    termOfServiceOk = true;
                }
            }
            return termOfServiceOk;
        });
    });
</script>
<script src="~/Content/js/controller/cartController.js"></script>