@model OnlineShop.Areas.Admin.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="page login-page">
                <div class="page-title">
                    <h1>Welcome, Please Sign In!</h1>
                </div>
                <div class="page-body">
                    <div class="customer-blocks">
                        <div class="new-wrapper register-block">
                            <div class="title">
                                <strong>New Customer</strong>
                            </div>
                            <div class="text">
                                By creating an account on our website, you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.
                            </div>
                            <div class="buttons">
                                <input type="button" class="button-1 register-button" onclick="location.href='/register'" value="Register">
                            </div>
                        </div>
                        <div class="returning-wrapper fieldset">
                            @using (Html.BeginForm("Login", "User", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="title">
                                    <strong>Returning Customer</strong>
                                </div>
                                <div class="form-fields">
                                    <div class="inputs">
                                        <label for="Email">Email:</label>
                                        @Html.EditorFor(model => model.UserName)
                                        <span class="inputs-icons">A</span>
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "field-validation-valid" })
                                    </div>
                                    <div class="inputs">
                                        <label for="Password">Password:</label>
                                        @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @type = "password" } })
                                        <span class="inputs-icons">x</span>
                                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "field-validation-valid" })
                                    </div>
                                    <div class="inputs reversed">
                                        <span class="forgot-password">
                                            <a href="/passwordrecovery">Forgot password?</a>
                                        </span>
                                        <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" value="true">
                                        <label for="RememberMe">Remember me?</label>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <input class="button-1 login-button" type="submit" value="Log in">
                                </div>
                                <div class="in-header-register">
                                    <input type="button" class="button-1 register-button" onclick="location.href='/register'" value="Register">
                                </div>
                                
                            <input name="RememberMe" type="hidden" value="false">
                            }
                            <div class="external-authentication">
                            </div>
                        </div>
                    </div>
                    <div class="topic-block">
                        <div class="topic-block-title">
                            <h2>About login / registration</h2>
                        </div>
                        <div class="topic-block-body">
                            <p>Put your login / registration information here. You can edit this in the admin site.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

