@model OnlineShop.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="master-column-wrapper">
    <div class="center-1">
        <div class="page registration-page">
            <div class="page-title">
                <h1>Register</h1>
            </div>
            <div class="page-body">
                @if (TempData["NotificationMessage"] != null)
                {
                    <div id="NotificationMessage" class="alert @TempData["NotificationType"] hide" style="background-color:#00a65a ;font-size:14px;font-weight:400 ;color:white ;margin: 0 0 20px 0; padding: 15px 30px 15px 15px;" role="alert">
                        <h4> @TempData["NotificationMessage"]</h4>
                    </div>
                }
                <div class="title">
                    <strong>Your Personal Details</strong>
                </div>
                @using (Html.BeginForm("Register", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true, "", new { @class = "message-error" })
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="inputs">
                                <label for="gender">Gender:</label>
                                <div id="gender" class="gender">
                                    <span class="male">
                                        <input type="radio" value="true" id="gender-male" checked="" name="Gender">
                                        <label class="forcheckbox" for="gender-male">Male</label>
                                    </span>
                                    <span class="female">
                                        <input type="radio" value="false" id="gender-female" checked="" name="Gender">
                                        <label class="forcheckbox" for="gender-female">Female</label>
                                    </span>
                                </div>
                            </div>
                            <div class="inputs">
                                <label for="Username">User name:</label>
                                @Html.EditorFor(model => model.Username)
                                <span class="required">*</span>
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "field-validation-valid" })
                            </div>
                            <div class="inputs">
                                <label for="FirstName">First name:</label>
                                @Html.EditorFor(model => model.FirstName)
                                <span class="required">*</span>
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "field-validation-valid" })
                            </div>
                            <div class="inputs">
                                <label for="LastName">Last name:</label>
                                @Html.EditorFor(model => model.LastName)
                                <span class="required">*</span>
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "field-validation-valid" })
                            </div>
                            <div class="inputs date-of-birth">
                                <label>Date of birth:</label>
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { id = "datepicker", @type = "text" } })
                                <span class="required">*</span>
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                            <div class="inputs">
                                <label for="Email">Email:</label>
                                @Html.EditorFor(model => model.Email)
                                <span class="required">*</span>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "field-validation-valid" })
                            </div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="title">
                            <strong>Company Details</strong>
                        </div>
                        <div class="form-fields">
                            <div class="inputs">
                                <label for="Company">Company name:</label>
                                @Html.EditorFor(model => model.Company)
                                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "field-validation-valid" })
                            </div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="title">
                            <strong>Options</strong>
                        </div>
                        <div class="form-fields">
                            <div class="inputs">
                                <input type="checkbox" checked="" data-val="true" data-val-required="The Newsletter field is required." id="Newsletter" name="Newsletter" value="true">                                <label for="Newsletter">Newsletter</label>
                                @Html.ValidationMessageFor(model => model.Newsletter, "", new { @class = "field-validation-valid" })
                            </div>
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="title">
                            <strong>Your Password</strong>
                        </div>
                        <div class="form-fields">
                            <div class="inputs">
                                <label for="Password">Password:</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password" } })
                                <span class="required">*</span>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "field-validation-valid" })
                            </div>
                            <div class="inputs">
                                <label for="ConfirmPassword">Confirm password:</label>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @type = "password" } })
                                <span class="required">*</span>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "field-validation-valid" })
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" id="register-button" class="button-1 register-next-step-button" value="Register" name="register-button">
                    </div>
                    <input name="Newsletter" type="hidden" value="false">
                }
                <div class="external-authentication">
                </div>
            </div>
        </div>
    </div>
</div>
