@model Models.EF.Customer
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal Total = 0;

    var shippingAddress = Model.Addresses.Where(x => x.Id == Model.Orders.Where(a => a.Id == 0).FirstOrDefault().ShippingAddressId);
    var billingAddress = Model.Addresses.Where(x => x.Id == Model.Orders.Where(a => a.Id == 0).FirstOrDefault().BillingAddressId);
    TempData["Customer"] = Model;
}
<div class="master-wrapper-content">
    <div class="ajaxCartInfo" data-getajaxcartbuttonurl="/NopAjaxCart/GetAjaxCartButtonsAjax" data-productpageaddtocartbuttonselector=".add-to-cart-button" data-productboxaddtocartbuttonselector=".product-box-add-to-cart-button" data-productboxproductitemelementselector=".product-item" data-usenopnotification="False" data-nopnotificationresource="The product has been added to your <a href=&quot;/cart&quot;>shopping cart</a>" data-enableonproductpage="True" data-enableoncatalogpages="True" data-minishoppingcartquatityformattingresource="{0}" data-miniwishlistquatityformattingresource="{0}" data-addtowishlistbuttonselector=".add-to-wishlist-button">
    </div>
    <input id="addProductVariantToCartUrl" name="addProductVariantToCartUrl" type="hidden" value="/AddProductFromProductDetailsPageToCartAjax">
    <input id="addProductToCartUrl" name="addProductToCartUrl" type="hidden" value="/AddProductToCartAjax">
    <input id="miniShoppingCartUrl" name="miniShoppingCartUrl" type="hidden" value="/MiniShoppingCart">
    <input id="flyoutShoppingCartUrl" name="flyoutShoppingCartUrl" type="hidden" value="/NopAjaxCartFlyoutShoppingCart">
    <input id="checkProductAttributesUrl" name="checkProductAttributesUrl" type="hidden" value="/CheckIfProductOrItsAssociatedProductsHasAttributes">
    <input id="getMiniProductDetailsViewUrl" name="getMiniProductDetailsViewUrl" type="hidden" value="/GetMiniProductDetailsView">
    <input id="flyoutShoppingCartPanelSelector" name="flyoutShoppingCartPanelSelector" type="hidden" value="#flyout-cart">
    <input id="shoppingCartMenuLinkSelector" name="shoppingCartMenuLinkSelector" type="hidden" value=".cart-qty">
    <input id="wishlistMenuLinkSelector" name="wishlistMenuLinkSelector" type="hidden" value="span.wishlist-qty">
    <div id="product-ribbon-info" data-productid="0" data-productboxselector=".product-item, .item-holder" data-productboxpicturecontainerselector=".picture, .item-picture" data-productpagepicturesparentcontainerselector=".product-essential" data-productpagebugpicturecontainerselector=".picture" data-retrieveproductribbonsurl="/RetrieveProductRibbons">
    </div>
    <div class="quickViewData" data-productselector=".product-item" data-productselectorchild=".btn-wrapper" data-retrievequickviewurl="/quickviewdata" data-quickviewbuttontext="Quick View" data-quickviewbuttontitle="Quick View" data-isquickviewpopupdraggable="True" data-enablequickviewpopupoverlay="True" data-accordionpanelsheightstyle="content" data-getquickviewbuttonroute="/getquickviewbutton">
    </div>
    <input type="hidden" id="theme-active-preset" data-colorpreset="1076c0, eebe00">
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="page checkout-page order-confirm-page">
                <div class="order-progress">
                    <ul>
                        <li class="active-step">
                            <a href="/cart"><span>Cart</span></a>
                        </li>
                        <li class="active-step">
                            <a href="/checkout/billingaddress"><span>Address</span></a>
                        </li>
                        <li class="active-step">
                            <a href="/checkout/shippingmethod"><span>Shipping</span></a>
                        </li>
                        <li class="active-step">
                            <a href="/checkout/paymentmethod"><span>Payment</span></a>
                        </li>
                        <li class="active-step last">
                            <a href="/checkout/confirm"><span>Confirm</span></a>
                        </li>
                        <li class="inactive-step">
                            <a><span>Complete</span></a>
                        </li>
                    </ul>
                </div>
                <div class="page-title">
                    <h1>Confirm your order</h1>
                </div>
                <div class="page-body checkout-data">
                    <div class="section confirm-order">
                        @using (Html.BeginForm("Confirm", "CheckOut", FormMethod.Post))
                        {
                            <div class="buttons">
                                <input type="submit" name="nextstep" value="Confirm" class="button-1 confirm-order-next-step-button">
                            </div>
                        }
                    </div>
                    <div class="section order-summary">
                        <div class="order-summary-content">
                            <div class="order-review-data">
                                <div class="billing-info-wrap" style="height: 444px;">
                                    <div class="billing-info">
                                        <div class="title">
                                            <strong>Billing Address</strong>
                                        </div>
                                        <ul class="info-list">
                                            <li class="name">
                                                @billingAddress.FirstOrDefault().FirstName
                                            </li>
                                            <li class="email">
                                                Email: @billingAddress.FirstOrDefault().Email
                                            </li>
                                            <li class="phone">
                                                Phone: @billingAddress.FirstOrDefault().PhoneNumber
                                            </li>
                                            <li class="fax">
                                                Fax: @billingAddress.FirstOrDefault().FaxNumber
                                            </li>
                                            <li class="address1">
                                                @billingAddress.FirstOrDefault().Address1
                                            </li>
                                            <li class="address2">
                                                @billingAddress.FirstOrDefault().Address2
                                            </li>
                                            <li class="city-state-zip">
                                                @billingAddress.FirstOrDefault().ZipPostalCode,@billingAddress.FirstOrDefault().City
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="payment-method-info">
                                        <div class="title">
                                            <strong>Payment</strong>
                                        </div>
                                        <ul class="info-list">
                                            <li class="payment-method">
                                                <span class="label">
                                                    Payment Method:
                                                </span>
                                                <span class="value">
                                                    @Model.Orders.Where(x => x.Id == 0).FirstOrDefault().PaymentMethodSystemName
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="shipping-info-wrap" style="height: 444px;">
                                    <div class="shipping-info">
                                        <div class="title">
                                            <strong>Shipping Address</strong>
                                        </div>
                                        <ul class="info-list">
                                            <li class="name">
                                                @shippingAddress.FirstOrDefault().FirstName
                                            </li>
                                            <li class="email">
                                                Email: @shippingAddress.FirstOrDefault().Email
                                            </li>
                                            <li class="phone">
                                                Phone: @shippingAddress.FirstOrDefault().PhoneNumber
                                            </li>
                                            <li class="fax">
                                                Fax: @shippingAddress.FirstOrDefault().FaxNumber
                                            </li>
                                            <li class="address1">
                                                @shippingAddress.FirstOrDefault().Address1
                                            </li>
                                            <li class="address2">
                                                @shippingAddress.FirstOrDefault().Address2
                                            </li>
                                            <li class="city-state-zip">
                                                @shippingAddress.FirstOrDefault().ZipPostalCode,@shippingAddress.FirstOrDefault().City
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="shipping-method-info">
                                        <div class="title">
                                            <strong>Shipping</strong>
                                        </div>
                                        <ul class="info-list">
                                            <li class="shipping-method">
                                                <span class="label">
                                                    Shipping Method:
                                                </span>
                                                <span class="value">
                                                    @Model.Orders.Where(x => x.Id == 0).FirstOrDefault().ShippingMethod
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <form method="post" enctype="multipart/form-data" id="shopping-cart-form" action="/cart">
                                <div class="table-wrapper">
                                    <table class="cart">
                                        <colgroup>
                                            <col width="1">
                                            <col>
                                            <col width="1">
                                            <col width="1">
                                            <col width="1">
                                        </colgroup>
                                        <thead>
                                            <tr class="cart-header-row">
                                                <th class="product-picture">
                                                    Image
                                                </th>
                                                <th class="product" data-hide="w410, w480, w580, w768">
                                                    Product(s)
                                                </th>
                                                <th class="unit-price" data-hide="w410, w480">
                                                    Price
                                                </th>
                                                <th class="quantity">
                                                    Qty
                                                </th>
                                                <th class="subtotal">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ShoppingCartItems.Where(x => x.ShoppingCartTypeId == 1))
                                            {
                                                Total += item.Product.Price * item.Quantity;
                                                var price = item.Product.Price * item.Quantity;
                                                var productPictures = new Models.Dao.PictureDao().GetPicturesByProductId(item.Product.Id, 1);
                                                <tr class="cart-item-row">
                                                    @if (productPictures.Count() > 0)
                                                    {
                                                        var url = new Models.Dao.PictureDao().GetPictureUrl(productPictures.SingleOrDefault().Id, 200, true, null, Models.Dao.PictureType.Entity);
                                                        <td class="product-picture">
                                                            <a href="/product/@item.Product.Name.ToLower().Replace(" ","-")">
                                                                <img src="@url" data-lazyloadsrc="@url" alt="Picture of Droid Inventor Kit" title="@productPictures.SingleOrDefault().TitleAttribute" loadedimage="true">
                                                            </a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(200, Models.Dao.PictureType.Entity, null);
                                                        <td class="product-picture">
                                                            <a href="/product/@item.Product.Name.ToLower().Replace(" ","-")">
                                                                <img src="@url" data-lazyloadsrc="@url" alt="Picture of Droid Inventor Kit" title="" loadedimage="true">
                                                            </a>
                                                        </td>
                                                    }
                                                    <td class="product">
                                                        <a href="/product/@item.Product.Name.ToLower().Replace(" ","-")" class="product-name">@item.Product.Name</a>
                                                    </td>
                                                    <td class="unit-price">
                                                        <label class="td-title">Price:</label>
                                                        <span class="product-unit-price">@item.Product.Price</span>
                                                    </td>
                                                    <td class="quantity">
                                                        <label class="td-title" for="itemquantity6982">Qty:</label>
                                                        <span class="product-quantity">@item.Quantity</span>
                                                    </td>
                                                    <td class="subtotal">
                                                        <label class="td-title">Total:</label>
                                                        <span class="product-subtotal">@price</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-footer">
                                    <div class="cart-options">
                                    </div>
                                    <div class="totals">
                                        <div class="total-info">
                                            <table class="cart-total">
                                                <tbody>
                                                    <tr class="order-subtotal">
                                                        <td class="cart-total-left">
                                                            <label>Total:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">@Total</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="shipping-cost">
                                                        <td class="cart-total-left">
                                                            <label>Shipping:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">$0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="tax-value">
                                                        <td class="cart-total-left">
                                                            <label>Tax:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">$0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <td class="cart-total-left">
                                                            <label>Total:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary"><strong>@Total</strong></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

