@model Models.EF.Customer
@{
    ViewBag.Title = "ShippingMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal Total = 0;
    TempData["Customer"] = Model;
}
<div class="master-wrapper-content">
    <div class="ajaxCartInfo" data-getajaxcartbuttonurl="/NopAjaxCart/GetAjaxCartButtonsAjax" data-productpageaddtocartbuttonselector=".add-to-cart-button" data-productboxaddtocartbuttonselector=".product-box-add-to-cart-button" data-productboxproductitemelementselector=".product-item" data-usenopnotification="False" data-nopnotificationresource="The product has been added to your <a href=&quot;/cart&quot;>shopping cart</a>" data-enableonproductpage="True" data-enableoncatalogpages="True" data-minishoppingcartquatityformattingresource="{0}" data-miniwishlistquatityformattingresource="{0}" data-addtowishlistbuttonselector=".add-to-wishlist-button">
    </div>
    <input id="addProductVariantToCartUrl" name="addProductVariantToCartUrl" type="hidden" value="/AddProductFromProductDetailsPageToCartAjax">
    <input id="addProductToCartUrl" name="addProductToCartUrl" type="hidden" value="/AddProductToCartAjax">
    <input id="miniShoppingCartUrl" name="miniShoppingCartUrl" type="hidden" value="/MiniShoppingCart">
    <input id="flyoutShoppingCartUrl" name="flyoutShoppingCartUrl" type="hidden" value="/NopAjaxCartFlyoutShoppingCart">
    <input id="checkProductAttributesUrl" name="checkProductAttributesUrl" type="hidden" value="/CheckIfProductOrItsAssociatedProductsHasAttributes">
    <input id="getMiniProductDetailsViewUrl" name="getMiniProductDetailsViewUrl" type="hidden" value="/GetMiniProductDetailsView">
    <input id="flyoutShoppingCartPanelSelector" name="flyoutShoppingCartPanelSelector" type="hidden" value="#flyout-cart">
    <input id="shoppingCartMenuLinkSelector" name="shoppingCartMenuLinkSelector" type="hidden" value=".cart-qty">
    <input id="wishlistMenuLinkSelector" name="wishlistMenuLinkSelector" type="hidden" value="span.wishlist-qty">
    <div id="product-ribbon-info" data-productid="0" data-productboxselector=".product-item, .item-holder" data-productboxpicturecontainerselector=".picture, .item-picture" data-productpagepicturesparentcontainerselector=".product-essential" data-productpagebugpicturecontainerselector=".picture" data-retrieveproductribbonsurl="/RetrieveProductRibbons">
    </div>
    <div class="quickViewData" data-productselector=".product-item" data-productselectorchild=".btn-wrapper" data-retrievequickviewurl="/quickviewdata" data-quickviewbuttontext="Quick View" data-quickviewbuttontitle="Quick View" data-isquickviewpopupdraggable="True" data-enablequickviewpopupoverlay="True" data-accordionpanelsheightstyle="content" data-getquickviewbuttonroute="/getquickviewbutton">
    </div>
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="page checkout-page shipping-method-page">
                <div class="order-progress">
                    <ul>
                        <li class="active-step">
                            <a href="/cart"><span>Cart</span></a>
                        </li>
                        <li class="active-step">
                            <a href="/checkout/billingaddress"><span>Address</span></a>
                        </li>
                        <li class="active-step last">
                            <a href="/checkout/shippingmethod"><span>Shipping</span></a>
                        </li>
                        <li class="inactive-step">
                            <a><span>Payment</span></a>
                        </li>
                        <li class="inactive-step">
                            <a><span>Confirm</span></a>
                        </li>
                        <li class="inactive-step">
                            <a><span>Complete</span></a>
                        </li>
                    </ul>
                </div>
                <div class="page-title">
                    <h1>Select shipping method</h1>
                </div>
                <div class="page-body checkout-data">
                    <div class="section shipping-method">
                        @using (Html.BeginForm("ShippingMethod", "CheckOut", FormMethod.Post))
                        {
                            <ul class="method-list">
                                <li>
                                    <div class="method-name">
                                        <input id="shippingoption_0" type="radio" name="shippingoption" value="Ground___Shipping.FixedByWeightByTotal" checked="checked">
                                        <label for="shippingoption_0">Ground ($0.00)</label>
                                    </div>
                                    <div class="method-description">
                                        Shipping by land transport
                                    </div>
                                </li>
                                <li>
                                    <div class="method-name">
                                        <input id="shippingoption_1" type="radio" name="shippingoption" value="Next Day Air___Shipping.FixedByWeightByTotal">
                                        <label for="shippingoption_1">Next Day Air ($0.00)</label>
                                    </div>
                                    <div class="method-description">
                                        The one day air shipping
                                    </div>
                                </li>
                                <li>
                                    <div class="method-name">
                                        <input id="shippingoption_2" type="radio" name="shippingoption" value="2nd Day Air___Shipping.FixedByWeightByTotal">
                                        <label for="shippingoption_2">2nd Day Air ($0.00)</label>
                                    </div>
                                    <div class="method-description">
                                        The two day air shipping
                                    </div>
                                </li>
                            </ul>
                            <div class="buttons">
                                <input type="submit" name="nextstep" value="Next" class="button-1 shipping-method-next-step-button">
                            </div>
                        }
                    </div>
                    <div class="section order-summary">
                        <div class="title">
                            <strong>Order summary</strong>
                        </div>
                        <div class="order-summary-content">
                            <form method="post" enctype="multipart/form-data" id="shopping-cart-form" action="/cart">
                                <div class="table-wrapper">
                                    <table class="cart">
                                        <colgroup>
                                            <col width="1">
                                            <col>
                                            <col width="1">
                                            <col width="1">
                                            <col width="1">
                                        </colgroup>
                                        <thead>
                                            <tr class="cart-header-row">
                                                <th class="product-picture">
                                                    Image
                                                </th>
                                                <th class="product" data-hide="w410, w480, w580, w768">
                                                    Product(s)
                                                </th>
                                                <th class="unit-price" data-hide="w410, w480">
                                                    Price
                                                </th>
                                                <th class="quantity">
                                                    Qty
                                                </th>
                                                <th class="subtotal">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ShoppingCartItems.Where(x => x.ShoppingCartTypeId == 1))
                                            {
                                                Total += item.Product.Price * item.Quantity;
                                                var price = item.Product.Price * item.Quantity;
                                                var productPictures = new Models.Dao.PictureDao().GetPicturesByProductId(item.Product.Id, 1);
                                                <tr class="cart-item-row">
                                                    @if (productPictures.Count() > 0)
                                                    {
                                                        var url = new Models.Dao.PictureDao().GetPictureUrl(productPictures.SingleOrDefault().Id, 200, true, null, Models.Dao.PictureType.Entity);
                                                        <td class="product-picture">
                                                            <a href="/product/@item.Product.Name.ToLower().Replace(" ","-")">
                                                                <img src="@url" data-lazyloadsrc="@url" alt="Picture of Droid Inventor Kit" title="@productPictures.SingleOrDefault().TitleAttribute" loadedimage="true">
                                                            </a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(200, Models.Dao.PictureType.Entity, null);
                                                        <td class="product-picture">
                                                            <a href="/product/@item.Product.Name.ToLower().Replace(" ","-")">
                                                                <img src="@url" data-lazyloadsrc="@url" alt="Picture of Droid Inventor Kit" title="" loadedimage="true">
                                                            </a>
                                                        </td>
                                                    }
                                                    <td class="product">
                                                        <a href="/product/@item.Product.Name.ToLower().Replace(" ","-")" class="product-name">@item.Product.Name</a>
                                                    </td>
                                                    <td class="unit-price">
                                                        <label class="td-title">Price:</label>
                                                        <span class="product-unit-price">@item.Product.Price</span>
                                                    </td>
                                                    <td class="quantity">
                                                        <label class="td-title" for="itemquantity6982">Qty:</label>
                                                        <span class="product-quantity">@item.Quantity</span>
                                                    </td>
                                                    <td class="subtotal">
                                                        <label class="td-title">Total:</label>
                                                        <span class="product-subtotal">@price</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-footer">
                                    <div class="cart-options">
                                    </div>
                                    <div class="totals">
                                        <div class="total-info">
                                            <table class="cart-total">
                                                <tbody>
                                                    <tr class="order-subtotal">
                                                        <td class="cart-total-left">
                                                            <label>Total:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">@Total</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="shipping-cost">
                                                        <td class="cart-total-left">
                                                            <label>Shipping:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">$0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="tax-value">
                                                        <td class="cart-total-left">
                                                            <label>Tax:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary">$0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <td class="cart-total-left">
                                                            <label>Total:</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary"><strong>@Total</strong></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
