@model Models.EF.Customer
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="master-wrapper-content">
    <div class="ajaxCartInfo" data-getajaxcartbuttonurl="/NopAjaxCart/GetAjaxCartButtonsAjax" data-productpageaddtocartbuttonselector=".add-to-cart-button" data-productboxaddtocartbuttonselector=".product-box-add-to-cart-button" data-productboxproductitemelementselector=".product-item" data-usenopnotification="False" data-nopnotificationresource="The product has been added to your <a href=&quot;/cart&quot;>shopping cart</a>" data-enableonproductpage="True" data-enableoncatalogpages="True" data-minishoppingcartquatityformattingresource="{0}" data-miniwishlistquatityformattingresource="{0}" data-addtowishlistbuttonselector=".add-to-wishlist-button">
    </div>
    <input id="addProductVariantToCartUrl" name="addProductVariantToCartUrl" type="hidden" value="/AddProductFromProductDetailsPageToCartAjax">
    <input id="addProductToCartUrl" name="addProductToCartUrl" type="hidden" value="/AddProductToCartAjax">
    <input id="miniShoppingCartUrl" name="miniShoppingCartUrl" type="hidden" value="/MiniShoppingCart">
    <input id="flyoutShoppingCartUrl" name="flyoutShoppingCartUrl" type="hidden" value="/NopAjaxCartFlyoutShoppingCart">
    <input id="checkProductAttributesUrl" name="checkProductAttributesUrl" type="hidden" value="/CheckIfProductOrItsAssociatedProductsHasAttributes">
    <input id="getMiniProductDetailsViewUrl" name="getMiniProductDetailsViewUrl" type="hidden" value="/GetMiniProductDetailsView">
    <input id="flyoutShoppingCartPanelSelector" name="flyoutShoppingCartPanelSelector" type="hidden" value="#flyout-cart">
    <input id="shoppingCartMenuLinkSelector" name="shoppingCartMenuLinkSelector" type="hidden" value=".cart-qty">
    <input id="wishlistMenuLinkSelector" name="wishlistMenuLinkSelector" type="hidden" value="span.wishlist-qty">
    <div id="product-ribbon-info" data-productid="0" data-productboxselector=".product-item, .item-holder" data-productboxpicturecontainerselector=".picture, .item-picture" data-productpagepicturesparentcontainerselector=".product-essential" data-productpagebugpicturecontainerselector=".picture" data-retrieveproductribbonsurl="/RetrieveProductRibbons">
    </div>
    <div class="quickViewData" data-productselector=".product-item" data-productselectorchild=".btn-wrapper" data-retrievequickviewurl="/quickviewdata" data-quickviewbuttontext="Quick View" data-quickviewbuttontitle="Quick View" data-isquickviewpopupdraggable="True" data-enablequickviewpopupoverlay="True" data-accordionpanelsheightstyle="content" data-getquickviewbuttonroute="/getquickviewbutton">
    </div>
    <input type="hidden" id="theme-active-preset" data-colorpreset="1076c0, eebe00">
    <div class="master-column-wrapper">
        <div class="page-title">
            <h1>My account - Customer info</h1>
        </div>
        <div class="side-2">
            <div class="select-navigation mobile">
                <select id="select-nav" name="select-nav" onchange="setLocation(this.value);">
                    <option selected="selected" value="/customer/info">Customer info</option>
                    <option value="/customer/address">Addresses</option>
                    <option value="/order/history">Orders</option>
                    <option value="/customer/downloadableproducts">Downloadable products</option>
                    <option value="/backinstocksubscriptions/manage">Back in stock subscriptions</option>
                    <option value="/rewardpoints/history">Reward points</option>
                    <option value="/customer/changepassword">Change your Password</option>
                    <option value="/customer/avatar">Avatar</option>
                    <option value="/customer/productreviews">My product reviews</option>
                </select>
            </div>
            <div class="block block-account-navigation desktop">
                <div class="title">
                    <strong>My account</strong>
                </div>
                <div class="listbox">
                    <ul class="list">
                        <li class="customer-info active">
                            <a href="/customer/info" data-hover="Customer info">Customer info</a>
                        </li>
                        <li class="customer-addresses inactive">
                            <a href="/customer/address" data-hover="Addresses">Addresses</a>
                        </li>
                        <li class="customer-orders inactive">
                            <a href="/order/history" data-hover="Orders">Orders</a>
                        </li>
                        <li class="downloadable-products inactive">
                            <a href="/customer/downloadableproducts" data-hover="Downloadable products">Downloadable products</a>
                        </li>
                        <li class="back-in-stock-subscriptions inactive">
                            <a href="/backinstocksubscriptions/manage" data-hover="Back in stock subscriptions">Back in stock subscriptions</a>
                        </li>
                        <li class="reward-points inactive">
                            <a href="/rewardpoints/history" data-hover="Reward points">Reward points</a>
                        </li>
                        <li class="change-password inactive">
                            <a href="/customer/changepassword" data-hover="Change your Password">Change your Password</a>
                        </li>
                        <li class="customer-avatar inactive">
                            <a href="/customer/avatar" data-hover="Avatar">Avatar</a>
                        </li>
                        <li class="customer-reviews inactive">
                            <a href="/customer/productreviews" data-hover="My product reviews">My product reviews</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center-2">
            <div class="page account-page customer-info-page" style="min-height: 423px;">
                <div class="page-body">
                    @if (TempData["NotificationMessage"] != null)
                    {
                        <div id="NotificationMessage" class="alert @TempData["NotificationType"] hide" style="background-color:#00a65a ;font-size:14px;font-weight:400 ;color:white ;margin: 0 0 20px 0; padding: 15px 30px 15px 15px;" role="alert">
                            <h4> @TempData["NotificationMessage"]</h4>
                        </div>
                    }
                    @using (Html.BeginForm("Info", "Customer", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="fieldset">
                            <div class="title">
                                <strong>Your Personal Details</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label for="gender">Gender:</label>
                                    <div id="gender" class="gender">
                                        <span class="male">
                                            <input type="radio" value="true" id="gender-male" checked="" name="Gender">
                                            <label class="forcheckbox" for="gender-male">Male</label>
                                        </span>
                                        <span class="female">
                                            <input type="radio" value="false" id="gender-female" checked="" name="Gender">
                                            <label class="forcheckbox" for="gender-female">Female</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="inputs">
                                    <label for="FirstName">First name:</label>
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })                                    <span class="required">*</span>
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="inputs">
                                    <label for="LastName">Last name:</label>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })                                    <span class="required">*</span>
                                    <span class="required">*</span>
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                                <div class="inputs date-of-birth">
                                    <label>Date of birth:</label>
                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { id = "datepicker", @type = "text" } })
                                    <span class="required">*</span>
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                                <div class="inputs">
                                    <label for="Email">Email:</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })                                    <span class="required">*</span>
                                    <span class="required">*</span>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="title">
                                <strong>Company Details</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label for="Company">Company name:</label>
                                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })                                    <span class="required">*</span>
                                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="title">
                                <strong>Options</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <input type="checkbox" checked="checked" data-val="true" data-val-required="The Newsletter field is required." id="Newsletter" name="Newsletter" value="true">
                                    <label for="Newsletter">Newsletter</label>
                                    <span class="field-validation-valid" data-valmsg-for="Newsletter" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="title">
                                <strong>Preferences</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label for="Signature">Signature:</label>
                                    <textarea class="account-signature-text" id="Signature" name="Signature"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <input type="submit" id="save-info-button" value="Save" name="save-info-button" class="button-1 save-customer-info-button">
                        </div>
                        <input name="Newsletter" type="hidden" value="false">
                    }
                </div>
            </div>
        </div>
    </div>
</div>
