@model Models.EF.Product

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_ProductDetail.cshtml";

    var productsRelated = (List<Models.EF.Product>)ViewBag.ProductsRelated;
    var productPictures = new Models.Dao.PictureDao().GetPicturesByProductId(Model.Id, 1);
}
<div class="center-1">
    <div class="page product-details-page">
        <div class="page-body">
            <form method="post" id="product-details-form" action="/apple-macbook-pro-13-inch">
                <div itemscope itemtype="http://schema.org/Product" data-productid="4">
                    <div class="product-essential">
                        <div class="mobile-name-holder"></div>
                        <div class="mobile-prev-next-holder"></div>
                        <input type="hidden" class="cloudZoomAdjustPictureOnProductAttributeValueChange" data-productid="@Model.Id" data-isintegratedbywidget="true" />
                        <input type="hidden" class="cloudZoomEnableClickToZoom" />
                        <div class="gallery sevenspikes-cloudzoom-gallery">
                            <div class="picture-wrapper">
                                @if (productPictures.Count > 0)
                                {
                                    var url = new Models.Dao.PictureDao().GetPictureUrl(productPictures.SingleOrDefault().Id, 510, true, null, Models.Dao.PictureType.Entity);
                                    <div class="picture" id="sevenspikes-cloud-zoom" data-zoomwindowelementid="" data-selectoroftheparentelementofthecloudzoomwindow="" data-defaultimagecontainerselector=".product-essential .gallery" data-zoom-window-width="400" data-zoom-window-height="400">
                                        <a href="@url" data-full-image-url="@url" class="picture-link" id="zoom1">
                                            <img src="@url" alt="@productPictures.SingleOrDefault().AltAttribute" class="cloudzoom" id="cloudZoomImage" itemprop="image" data-cloudzoom="appendSelector: &#x27;.picture-wrapper&#x27;, zoomPosition: &#x27;inside&#x27;, zoomOffsetX: 0, captionPosition: &#x27;bottom&#x27;, tintOpacity: 0, zoomWidth: 400, zoomHeight: 400, easing: 3, touchStartDelay: true, zoomFlyOut: false, disableZoom: &#x27;auto&#x27;" />
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(510, Models.Dao.PictureType.Entity, null);
                                    <div class="picture" id="sevenspikes-cloud-zoom" data-zoomwindowelementid="" data-selectoroftheparentelementofthecloudzoomwindow="" data-defaultimagecontainerselector=".product-essential .gallery" data-zoom-window-width="400" data-zoom-window-height="400">
                                        <a href="@url" data-full-image-url="@url" class="picture-link" id="zoom1">
                                            <img src="@url" alt="" class="cloudzoom" id="cloudZoomImage" itemprop="image" data-cloudzoom="appendSelector: &#x27;.picture-wrapper&#x27;, zoomPosition: &#x27;inside&#x27;, zoomOffsetX: 0, captionPosition: &#x27;bottom&#x27;, tintOpacity: 0, zoomWidth: 400, zoomHeight: 400, easing: 3, touchStartDelay: true, zoomFlyOut: false, disableZoom: &#x27;auto&#x27;" />
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="picture-thumbs ">
                                @foreach (var item in productPictures)
                                {
                                    var url = new Models.Dao.PictureDao().GetPictureUrl(item.Id, 670, true, null, Models.Dao.PictureType.Entity);
                                    <a class="cloudzoom-gallery thumb-item" data-full-image-url="@url" data-cloudzoom="appendSelector: &#x27;.picture-wrapper&#x27;, zoomPosition: &#x27;inside&#x27;, zoomOffsetX: 0, captionPosition: &#x27;bottom&#x27;, tintOpacity: 0, zoomWidth: 400, zoomHeight: 400, useZoom: &#x27;.cloudzoom&#x27;, image: &#x27;@url&#x27;, zoomImage: &#x27;@url&#x27;, easing: 3, touchStartDelay: true, zoomFlyOut: false, disableZoom: &#x27;auto&#x27;">
                                        <img class="cloud-zoom-gallery-img" src="@url" alt="@item.AltAttribute" />
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="overview">
                            <div class="prev-next-holder">
                            </div>
                            <!--product breadcrumb-->
                            <div class="breadcrumb">
                                @*<ul>
                                        <li>
                                            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                                <a href="/" itemprop="url">
                                                    <span itemprop="title">Home</span>
                                                </a>
                                            </span>
                                            <span class="delimiter">/</span>
                                        </li>
                                        <li>
                                            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                                <a href="/computers" itemprop="url">
                                                    <span itemprop="title">Computers</span>
                                                </a>
                                            </span>
                                            <span class="delimiter">/</span>
                                        </li>
                                        <li>
                                            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                                <a href="/notebooks" itemprop="url">
                                                    <span itemprop="title">Notebooks</span>
                                                </a>
                                            </span>
                                            <span class="delimiter">/</span>
                                        </li>
                                        <li>
                                            <strong class="current-item">Apple MacBook Pro 13-inch</strong>
                                        </li>
                                    </ul>*@
                            </div>
                            <div class="product-name">
                                <h1 itemprop="name">
                                    @Model.Name
                                </h1>
                                <!--manufacturers-->
                                <div class="manufacturers">
                                    <span class="label">Manufacturer:</span>
                                    <span class="value">
                                        <a href="/apple">@Model.ManufacturerPartNumber</a>
                                    </span>
                                </div>
                            </div>
                            <div class="reviews-and-compare">
                                <!--product reviews-->
                                <div class="product-reviews-overview" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    <div class="product-review-box">
                                        <div class="rating">
                                            <div style="width: 80%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-review-links">
                                        <a href="/productreviews/@Model.Id">
                                            1
                                            review(s)
                                        </a> <span class="separator">|</span> <a href="/productreviews/@Model.Id">Add your review</a>
                                    </div>
                                    <span itemprop="ratingValue" style="display: none;">4.0</span>
                                    <span itemprop="reviewCount" style="display: none;">1</span>
                                </div>
                                <!--compare button-->
                                <div class="compare-products">
                                    <button type="button" value="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/4');return false;">Add to compare list</button>
                                </div>
                            </div>
                            <!--short description-->
                            <div class="short-description">
                                @Model.ShortDescription
                            </div>
                            <!--SKU, MAN, GTIN, vendor-->
                            <div class="additional-details">
                                <div class="sku">
                                    <span class="label">SKU:</span>
                                    <span class="value" itemprop="sku" id="sku-4">@Model.Sku</span>
                                </div>
                            </div>
                            <div class="attributes-wrapper">
                                <!--attributes-->
                                <!--gift card-->
                                <!--rental info-->
                                <!--wishlist, compare, email a friend-->
                            </div>
                            <div class="product-social-buttons">
                                <label class="product-social-label">Share:</label>
                                <ul class="product-social-sharing">
                                    <li>
                                        <!-- Twitter -->
                                        <a class="twitter" title="Share on Twitter" href="javascript:openShareWindow('http://twitter.com/share?url=http://localhost:15536/apple-macbook-pro-13-inch')">Share on Twitter</a>
                                    </li>
                                    <li>
                                        <!-- Facebook -->
                                        <a class="facebook" title="Share on Facebook" href="javascript:openShareWindow('http://www.facebook.com/sharer.php?u=http://localhost:15536/apple-macbook-pro-13-inch')">Share on Facebook</a>
                                    </li>
                                    <li>
                                        <!-- Pinterest -->
                                        <a class="pinterest" title="Share on Pinterest" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">Share on Pinterest</a>
                                    </li>
                                    <li>
                                        <!-- Google+ -->
                                        <a class="google" title="Share on Google Plus" href="javascript:openShareWindow('https://plus.google.com/share?url=http://localhost:15536/apple-macbook-pro-13-inch')">Share on Google Plus</a>
                                    </li>
                                    <li>
                                        <!-- Email a friend -->
                                        <div class="email-a-friend">
                                            <input type="button" value="Email a friend" class="button-2 email-a-friend-button" onclick="setLocation('/productemailafriend/4')" />
                                        </div>
                                    </li>
                                </ul>
                                <script>
                                    function openShareWindow(url) {
                                        var winWidth = 520;
                                        var winHeight = 400;
                                        var winTop = (screen.height / 2) - (winHeight / 2);
                                        var winLeft = (screen.width / 2) - (winWidth / 2);

                                        window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                                    }
                                </script>
                            </div>
                            <div class="product-prices-box">
                                <div>
                                    <!--availability-->
                                    <div class="availability">
                                        <div class="stock">
                                            <span class="label">Availability:</span>
                                            <span class="value" id="stock-availability-value-@Model.Id.ToString()">In stock</span>
                                        </div>
                                    </div>
                                    <!--price & add to cart-->
                                    <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <div class="product-price">
                                            <span itemprop="price" content="@Model.Price" class="price-value-@Model.Price.ToString()">
                                                @Model.Price
                                            </span>
                                        </div>
                                        <meta itemprop="priceCurrency" content="USD" />
                                    </div>
                                    <div class="min-qty-notification">This product has a minimum quantity of 2</div>
                                    <div class="add-to-cart">
                                        <div class="add-to-cart-panel">
                                            <label class="qty-label" for="addtocart_@Model.Id.ToString()_EnteredQuantity">Qty:</label>
                                            <div class="add-to-cart-qty-wrapper">
                                                <input class="qty-input" type="text" data-val="true" data-val-required="The Qty field is required." id="addtocart_@Model.Id.ToString()_EnteredQuantity" name="addtocart_@Model.Id.ToString()EnteredQuantity" value="2" />
                                                <span class="plus">&#x69;</span>
                                                <span class="minus">&#x68;</span>
                                            </div>
                                            <input type="button" id="add-to-cart-button-@Model.Id.ToString()" class="button-1 add-to-cart-button" value="Add to cart" data-productid="@Model.Id" onclick="AjaxShoppingCart.addproductocart('@Model.Id','1',true)" />
                                        </div>
                                    </div>
                                    <!--sample download-->
                                    <!--add to wishlist-->
                                    <div class="add-to-wishlist">
                                        <button type="button" id="add-to-wishlist-button-@Model.Id.ToString()" class="button-2 add-to-wishlist-button" value="Add to wishlist" data-productid="@Model.Id" onclick="AjaxShoppingCart.addproductowishlist('@Model.Id','2','1')"><span>Add to wishlist</span></button>
                                    </div>
                                </div>
                                <!--delivery-->
                                <div class="delivery">
                                    <div class="free-shipping">Free shipping</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="quickTabs" class="productTabs " data-ajaxEnabled="false" data-productReviewsAddNewUrl="/ProductTab/ProductReviewsTabAddNew/@Model.Id.ToString()" data-productContactUsUrl="/ProductTab/ProductContactUsTabAddNew/@Model.Id.ToString()" data-couldNotLoadTabErrorMessage="Couldn&#x27;t load this tab.">
                        <div class="productTabs-header">
                            <ul>
                                <li>
                                    <a href="#quickTab-description">Overview</a>
                                </li>
                                <li>
                                    <a href="#quickTab-specifications">Specifications</a>
                                </li>
                                <li>
                                    <a href="#quickTab-reviews">Reviews</a>
                                </li>
                                <li>
                                    <a href="#quickTab-contact_us">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="productTabs-body">
                            <div id="quickTab-description">
                                <div class="full-description" itemprop="description">
                                    @Model.ShortDescription
                                </div>
                            </div>
                            <div id="quickTab-specifications">
                                <div class="product-specs-box">
                                    <div class="title">
                                        <strong>Products specifications</strong>
                                    </div>
                                    <div class="table-wrapper">
                                        <table class="data-table">
                                            <colgroup>
                                                <col width="25%" />
                                                <col />
                                            </colgroup>
                                            <tbody>
                                                <tr class="odd">
                                                    <td class="spec-name">
                                                        Screensize
                                                    </td>
                                                    <td class="spec-value">
                                                        13.0&#39;&#39;
                                                    </td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="spec-name">
                                                        CPU Type
                                                    </td>
                                                    <td class="spec-value">
                                                        Intel Core i5
                                                    </td>
                                                </tr>
                                                <tr class="odd">
                                                    <td class="spec-name">
                                                        Memory
                                                    </td>
                                                    <td class="spec-value">
                                                        4 GB
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="quickTab-reviews">
                                <div id="updateTargetId" class="product-reviews-page">
                                    <div class="write-review" id="review-form">
                                        <div class="product-review-links">
                                            @Model.ProductReviews.Count().ToString()
                                            review(s)
                                        </div>
                                        <span itemprop="ratingValue" style="display: none;">4.0</span>
                                        <span itemprop="reviewCount" style="display: none;">1</span>
                                        <div class="product-review-box">
                                            <div class="rating">
                                                <div style="width: 80%">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <strong class="write-review-title"><span>Write your own review</span></strong>
                                            <strong class="close-review-form"><span>Close</span></strong>
                                        </div>
                                        <div class="write-review-collapse">
                                            <div class="message-error validation-summary-errors">
                                                <ul>
                                                    <li>Only registered users can write reviews</li>
                                                </ul>
                                            </div>
                                            <div class="form-fields">
                                                <div class="inputs">
                                                    <label for="AddProductReview_Title">Review title:</label>
                                                    <input class="review-title" type="text" id="AddProductReview_Title" name="AddProductReview.Title" value="" disabled="disabled" />
                                                    <span class="required">*</span>
                                                    <span class="field-validation-valid" data-valmsg-for="AddProductReview.Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <div class="inputs">
                                                    <label for="AddProductReview_ReviewText">Review text:</label>
                                                    <textarea class="review-text" id="AddProductReview_ReviewText" name="AddProductReview.ReviewText" disabled="disabled">
</textarea>
                                                    <span class="required">*</span>
                                                    <span class="field-validation-valid" data-valmsg-for="AddProductReview.ReviewText" data-valmsg-replace="true"></span>
                                                </div>
                                                <div class="review-rating">
                                                    <label for="AddProductReview_Rating">Rating:</label>
                                                    <ul>
                                                        <li class="label first">Bad</li>
                                                        <li class="rating-options">
                                                            <input value="1" type="radio" id="addproductrating_1" data-val="true" data-val-required="The Rating field is required." name="AddProductReview.Rating" />
                                                            <label for="addproductrating_1">1</label>
                                                            <input value="2" type="radio" id="addproductrating_2" name="AddProductReview.Rating" />
                                                            <label for="addproductrating_2">2</label>
                                                            <input value="3" type="radio" id="addproductrating_3" name="AddProductReview.Rating" />
                                                            <label for="addproductrating_3">3</label>
                                                            <input value="4" type="radio" id="addproductrating_4" name="AddProductReview.Rating" />
                                                            <label for="addproductrating_4">4</label>
                                                            <input value="5" type="radio" id="addproductrating_5" checked="checked" name="AddProductReview.Rating" />
                                                            <label for="addproductrating_5">5</label>
                                                        </li>
                                                        <li class="label last">Excellent</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="buttons">
                                                <input type="button" id="add-review" disabled="disabled" name="add-review" class="button-1 write-product-review-button" value="Submit review" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-review-list">
                                        @foreach (var item in Model.ProductReviews)
                                        {
                                            <div class="product-review-item">
                                                <div class="review-info">
                                                    <div class="product-review-box">
                                                        <div class="rating">
                                                            <div style="width: 80%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="user">
                                                        <label>From:</label>
                                                        @item.Customer.FirstName
                                                    </span>
                                                    <span class="separator">|</span>
                                                    <span class="date">
                                                        <label>Date:</label>
                                                        <span>@item.CreatedOnUtc</span>
                                                    </span>
                                                </div>
                                                <div class="review-body">
                                                    <div class="review-item-head">
                                                        <div class="review-title">
                                                            <strong>@item.Title</strong>
                                                        </div>
                                                    </div>
                                                    <div class="review-text">
                                                        @item.ReviewText
                                                    </div>
                                                </div>
                                                <div class="product-review-helpfulness" data-productReviewId="3" data-productReviewVoteUrl="/setproductreviewhelpfulness">
                                                    <span class="question">Was this review helpful?</span>
                                                    <span>
                                                        <span id="vote-yes-3" class="vote vote-yes">Yes</span>
                                                        <span id="vote-no-3" class="vote vote-no">No</span>
                                                    </span>
                                                    <span>
                                                        (<span id="helpfulness-vote-yes-3">0</span>/<span id="helpfulness-vote-no-3">0</span>)
                                                    </span>
                                                    <span id="helpfulness-vote-result-3" class="result"></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="quickTab-contact_us">
                                <div id="contact-us-tab" class="write-review">
                                    <div class="form-fields">
                                        <div class="inputs">
                                            <label for="FullName">Your name</label>
                                            <input placeholder="Enter your name." class="contact_tab_fullname review-title" type="text" data-val="true" data-val-required="Enter your name" id="FullName" name="FullName" value="" />
                                            <span class="required">*</span>
                                            <span class="field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="inputs">
                                            <label for="Email">Your email</label>
                                            <input placeholder="Enter your email address." class="contact_tab_email review-title" type="email" data-val="true" data-val-email="Wrong email" data-val-required="Enter email" id="Email" name="Email" value="" />
                                            <span class="required">*</span>
                                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="inputs">
                                            <label for="Enquiry">Enquiry</label>
                                            <textarea placeholder="Enter your enquiry." class="contact_tab_enquiry review-text" data-val="true" data-val-required="Enter enquiry" id="Enquiry" name="Enquiry">
</textarea>
                                            <span class="required">*</span>
                                            <span class="field-validation-valid" data-valmsg-for="Enquiry" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <input type="button" id="send-contact-us-form" name="send-email" class="button-1 contact-us-button" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full-description" itemprop="description">
                        @Model.FullDescription
                    </div>
                    <div class="product-collateral">
                        <div class="product-specs-box">
                            <div class="title">
                                <strong>Products specifications</strong>
                            </div>
                            <div class="table-wrapper">
                                <table class="data-table">
                                    <colgroup>
                                        <col width="25%" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr class="odd">
                                            <td class="spec-name">
                                                Screensize
                                            </td>
                                            <td class="spec-value">
                                                13.0&#39;&#39;
                                            </td>
                                        </tr>
                                        <tr class="even">
                                            <td class="spec-name">
                                                CPU Type
                                            </td>
                                            <td class="spec-value">
                                                Intel Core i5
                                            </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="spec-name">
                                                Memory
                                            </td>
                                            <td class="spec-value">
                                                4 GB
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="product-tags-box">
                        <div class="title">
                            <strong>Product tags</strong>
                        </div>
                        <div class="product-tags-list">
                            <ul>
                                <li class="tag">
                                    <a href="/producttag/6/computer" class="producttag">
                                        computer
                                    </a> <span>(14)</span>
                                </li>
                                <li class="separator">,</li>
                                <li class="tag">
                                    <a href="/producttag/8/awesome" class="producttag">
                                        awesome
                                    </a> <span>(17)</span>
                                </li>
                                <li class="separator">,</li>
                                <li class="tag">
                                    <a href="/producttag/9/compact" class="producttag">
                                        compact
                                    </a> <span>(7)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- related products grid -->
                    @if (productsRelated.Count() > 0)
                    {
                        <div class="related-products-grid product-grid">
                            <div class="title">
                                <strong>Related products</strong>
                            </div>
                            <div class="item-grid">
                                @foreach (var item in productsRelated)
                                {
                                    var pictures = new Models.Dao.PictureDao().GetPicturesByProductId(item.Id, 1);
                                    <div class="item-box">
                                        <div class="product-item" data-productid="9">
                                            <div class="picture">
                                                @if (pictures.Count > 0)
                                                {
                                                    var url = new Models.Dao.PictureDao().GetPictureUrl(pictures.SingleOrDefault().Id, 360, true, null, Models.Dao.PictureType.Entity);
                                                    <a href="/product/@item.Name.ToLower().Replace(" ","-")" title="@item.MetaTitle">
                                                        <img class="picture-img" src="@url" alt="@pictures.SingleOrDefault().AltAttribute" title="@pictures.SingleOrDefault().TitleAttribute" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    var url = new Models.Dao.PictureDao().GetDefaultPictureUrl(360, Models.Dao.PictureType.Entity, null);
                                                    <a href="/product/@item.Name.ToLower().Replace(" ","-")" title="@item.MetaTitle">
                                                        <img class="picture-img" src="@url">
                                                    </a>
                                                }
                                                <div class="btn-wrapper">
                                                    <button type="button" title="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxShoppingCart.addproductocompare('@item.Id')">Add to compare list</button>
                                                    <button type="button" title="Add to wishlist" class="button-2 add-to-wishlist-button" onclick="AjaxShoppingCart.addproductowishlist('@item.Id','2','1')">Add to wishlist</button>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <h2 class="product-title">
                                                    <a href="/product/@item.Name.ToLower().Replace(" ","-")">@item.MetaTitle</a>
                                                </h2>
                                                <div class="product-rating-box" title="1 review(s)">
                                                    <div class="rating">
                                                        <div style="width: 80%">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="description">
                                                    @item.ShortDescription
                                                </div>
                                                <div class="add-info">
                                                    <div class="prices">
                                                        <span class="price actual-price">@item.Price</span>
                                                    </div>
                                                    <div class="buttons">
                                                        <input type="button" value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="AjaxShoppingCart.addproductocart('@item.Id','1',true)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <!-- also purchsed products grid -->
                    <div class="carousel-wrapper">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
