@model PagedList.IPagedList<Models.EF.ActivityLog>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@section Header {
    <!-- daterange picker -->
    <link rel="stylesheet" href="/Assets/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="/Assets/Admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/Assets/Admin/plugins/iCheck/all.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="/Assets/Admin/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/Assets/Admin/bower_components/select2/dist/css/select2.min.css">
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        ActivityLogs
    </h1>
    <div class="pull-right">
        <a class="btn bg-blue" href="/Admin/ActivityLog/Create">
            <i class="fa fa-plus-square"></i>
            Add new
        </a>
        <button type="submit" name="download-catalog-pdf" class="btn bg-purple">
            <i class="fa fa-file-pdf-o"></i>
            Download catalog as PDF
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                Export
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <button type="submit" name="exportxml-all">
                        <i class="fa fa-file-code-o"></i>
                        Export to XML (all found)
                    </button>
                </li>
                <li>
                    <button type="button" id="exportxml-selected">
                        <i class="fa fa-file-code-o"></i>
                        Export to XML (selected)
                    </button>
                </li>
                <li class="divider"></li>
                <li>
                    <button type="submit" name="exportexcel-all">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel (all found)
                    </button>
                </li>
                <li>
                    <button type="button" id="exportexcel-selected">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel (selected)
                    </button>
                </li>
            </ul>
        </div>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            Import
        </button>
        <button type="button" id="delete-selected" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            Delete (selected)
        </button>

    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="label-wrapper">
                                        <label class="control-label" for="SearchCreatedFrom">CreateFrom</label>
                                        <div title="" data-toggle="tooltip" class="ico-help">
                                            <i class="fa fa-question-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control pull-right" id="SearchCreatedFrom" name="SearchCreateFrom" type="text" value="@ViewBag.SearchCreatedFrom" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="label-wrapper">
                                        <label class="control-label" for="SearchCreateTo">CreateTo</label>
                                        <div title="" data-toggle="tooltip" class="ico-help">
                                            <i class="fa fa-question-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control pull-right" id="SearchCreatedTo" name="SearchCreatedTo" value="@ViewBag.SearchCreatedTo" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="label-wrapper">
                                        <label class="control-label" for="SearchActivityLogType">Activity log type</label>
                                        <div title="" data-toggle="tooltip" class="ico-help">
                                            <i class="fa fa-question-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" data-val="true" data-val-required="The Approved field is required." id="SearchActivityLogType" name="SearchActivityLogType" value="@ViewBag.SearchActivityLogType">
                                        <option selected="selected" value="0">All</option>
                                        <option value="1">Approved only</option>
                                        <option value="2">Disapproved only</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="label-wrapper">
                                        <label class="control-label" for="SeachIpAddress">IP Address</label>
                                        <div title="" data-toggle="tooltip" class="ico-help">
                                            <i class="fa fa-question-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control text-box single-line" id="SeachIpAddress" name="SeachIpAddress" type="text" value="@ViewBag.SearchIpAddesss" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <button type="submit" id="search-productsReview" class="btn btn-primary btn-search"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Activity log type</th>
                                <th>Customer Email	</th>
                                <th>IP address</th>
                                <th>Message</th>
                                <th>Created On</th>
                                <th style="text-align:center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id">
                                    <td style="vertical-align: inherit">
                                        @Html.DisplayFor(modelItem => item.ActivityLogType)
                                    </td>
                                    <td style="vertical-align: inherit">
                                        @Html.DisplayFor(modelItem => item.CustomerId)
                                        @*@Html.ActionLink(item.CustomerId, "Edit", "Customer", new { id = item.CustomerId }, new { id = item.CustomerId })*@

                                    </td>
                                    <td style="vertical-align: inherit">
                                        @Html.DisplayFor(modelItem => item.IpAddress)
                                    </td>
                                    <td style="vertical-align: inherit">
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td style="vertical-align: inherit">
                                        @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                                    </td>
                                    <td style="vertical-align: inherit" class=" text-center">
                                        <a class="btn btn-danger" href="/Admin/ActivityLog/Delete/@item.Id"><i class="fa fa-remove"></i>&nbsp;&nbsp;Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer {
    <script src="/Assets/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/Admin/bower_components/jquery-ui/jquery-ui.min.js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="/Assets/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="/Assets/Admin/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/Assets/Admin/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/Assets/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="/Assets/Admin/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="/Assets/Admin/bower_components/moment/min/moment.min.js"></script>
    <script src="/Assets/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="/Assets/Admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="/Assets/Admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="/Assets/Admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- SlimScroll -->
    <script src="/Assets/Admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="/Assets/Admin/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="/Assets/Admin/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/Admin/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Assets/Admin/dist/js/demo.js"></script>
    <!-- Page script -->
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
    </script>
    <script>
        $(function () {

            //Date picker
            $('#SearchCreatedFrom').datepicker({
                autoclose: true
            })
            $('#SearchCreatedTo').datepicker({
                autoclose: true
            })
        })
    </script>
}